/node_modules
/public/hot
/public/storage
/public/uploads/**
public/uploads/**
/public/uploads/*
public/uploads/*
/public/new/*
/public/backend/*
/storage/*.key
storage/app/* 
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
/.idea
/resources/ckeditor/node_modules/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml 
npm-debug.log
yarn-error.log

/resources/admin/scss/css
/storage/installed



.DS_Store
/.DS_Store


public/uploads/stock
/public/uploads/stock/**