@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?4b8mmk');
	src:url('../fonts/icomoon.eot?#iefix4b8mmk') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?4b8mmk') format('truetype'),
		url('../fonts/icomoon.woff?4b8mmk') format('woff'),
		url('../fonts/icomoon.svg?4b8mmk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gc-ac:before {
	content: "\e600";
}
.icon-gc-bed:before {
	content: "\e601";
}
.icon-gc-coffee:before {
	content: "\e602";
}
.icon-gc-common:before {
	content: "\e603";
}
.icon-gc-cooking:before {
	content: "\e604";
}
.icon-gc-diningtable:before {
	content: "\e605";
}
.icon-gc-door:before {
	content: "\e606";
}
.icon-gc-doorman:before {
	content: "\e607";
}
.icon-gc-event:before {
	content: "\e608";
}
.icon-gc-family:before {
	content: "\e609";
}
.icon-gc-firearea:before {
	content: "\e60a";
}
.icon-gc-firstaid:before {
	content: "\e60b";
}
.icon-gc-food:before {
	content: "\e60c";
}
.icon-gc-guests:before {
	content: "\e60d";
}
.icon-gc-gym:before {
	content: "\e60e";
}
.icon-gc-heater:before {
	content: "\e60f";
}
.icon-gc-home:before {
	content: "\e610";
}
.icon-gc-internet:before {
	content: "\e611";
}
.icon-gc-parking:before {
	content: "\e612";
}
.icon-gc-pet:before {
	content: "\e613";
}
.icon-gc-shampoo:before {
	content: "\e614";
}
.icon-gc-smoking:before {
	content: "\e615";
}
.icon-gc-swimming:before {
	content: "\e616";
}
.icon-gc-tv:before {
	content: "\e617";
}
.icon-gc-washingmachine:before {
	content: "\e618";
}
.icon-gc-weelchair:before {
	content: "\e619";
}
.icon-gc-wifi:before {
	content: "\e61a";
}
.icon-gc-heart:before {
	content: "\e61b";
}
.icon-gc-cloud:before {
	content: "\e61c";
}
.icon-gc-star:before {
	content: "\e61d";
}
.icon-gc-tvo:before {
	content: "\e61e";
}
.icon-gc-sound:before {
	content: "\e61f";
}
.icon-gc-video:before {
	content: "\e620";
}
.icon-gc-trash:before {
	content: "\e621";
}
.icon-gc-user:before {
	content: "\e622";
}
.icon-gc-key:before {
	content: "\e623";
}
.icon-gc-searcho:before {
	content: "\e624";
}
.icon-gc-settings:before {
	content: "\e625";
}
.icon-gc-camera:before {
	content: "\e626";
}
.icon-gc-tag:before {
	content: "\e627";
}
.icon-gc-lock:before {
	content: "\e628";
}
.icon-gc-bulb:before {
	content: "\e629";
}
.icon-gc-pen:before {
	content: "\e62a";
}
.icon-gc-diamond:before {
	content: "\e62b";
}
.icon-gc-display:before {
	content: "\e62c";
}
.icon-gc-location:before {
	content: "\e62d";
}
.icon-gc-eye:before {
	content: "\e62e";
}
.icon-gc-bubble:before {
	content: "\e62f";
}
.icon-gc-stack:before {
	content: "\e630";
}
.icon-gc-cup:before {
	content: "\e631";
}
.icon-gc-phone:before {
	content: "\e632";
}
.icon-gc-news:before {
	content: "\e633";
}
.icon-gc-mail:before {
	content: "\e634";
}
.icon-gc-like:before {
	content: "\e635";
}
.icon-gc-photo:before {
	content: "\e636";
}
.icon-gc-note:before {
	content: "\e637";
}
.icon-gc-clock:before {
	content: "\e638";
}
.icon-gc-paperplane:before {
	content: "\e639";
}
.icon-gc-params:before {
	content: "\e63a";
}
.icon-gc-banknote:before {
	content: "\e63b";
}
.icon-gc-data:before {
	content: "\e63c";
}
.icon-gc-music:before {
	content: "\e63d";
}
.icon-gc-megaphone:before {
	content: "\e63e";
}
.icon-gc-study:before {
	content: "\e63f";
}
.icon-gc-lab:before {
	content: "\e640";
}
.icon-food:before {
	content: "\e641";
}
.icon-gc-t-shirt:before {
	content: "\e642";
}
.icon-gc-fire:before {
	content: "\e643";
}
.icon-gc-clip:before {
	content: "\e644";
}
.icon-gc-shop:before {
	content: "\e645";
}
.icon-gc-calendar:before {
	content: "\e646";
}
.icon-gc-wallet:before {
	content: "\e647";
}
.icon-gc-vynil:before {
	content: "\e648";
}
.icon-gc-truck:before {
	content: "\e649";
}
.icon-gc-world:before {
	content: "\e64a";
}
